.container{
    display:flex;
}

.grid-user {
    width:400px;
    height:400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin:20px;
}

.grid div{
    width: 40px;
    height: 40px;
    /* background-color: red; */
}

.grid-computer{
    width:400px;
    height:400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin:20px;
}

.grid-display{
    width:400px;
    height:400px;
    background-color: yellow;
    margin:20px;
}

.destroyer-container{
    width:80px;
    height:40px;
    background-color: orange;
    margin:10px;
    display:flex;
    flex-direction: column;
}

.submarine-container{
    width:120px;
    height:40px;
    background-color: pink;
    margin:10px;
    display:flex;
    flex-direction: column;
}

.cruiser-container{
    width:120px;
    height:40px;
    background-color: purple;
    margin:10px;
    display:flex;
    flex-direction: column;
}

.battleship-container{
    width: 160px;
    height:40px;
    background-color: aqua;
    margin:10px;
    display:flex;
    flex-direction: column;
}

.carrier-container{
    width: 200px;
    height:40px;
    background-color: green;
    margin:10px;
    display:flex;
    flex-direction: column;
}


.ship div{
    width: 40px;
    height: 40px;
}

.destoryer{
    background-color: orange;
}

.submarine{
    background-color: pink;
}

.cruiser{
    background-color: purple;
}

.battleship{
    background-color: aqua;
}

.carrier{
    background-color: green;
}